@import '../../../../../../shared/styles/colors.css';

.PaginationSelect {
  &.is-hidden{
    transform: scale(0.1);
    opacity: 0;
    transition: all .2s;
  }
  transform: scale(1);
  transition: transform .2s;
  position: absolute;
  right: 0;
  z-index: 4;
  background: white;
  width: 95px;
  border: 1px solid $gray;
  border-radius: 5px;
  &-list{
    padding: 0;
  }
  &-item .is-disabled{
    cursor: not-allowed;
  }
  &-item>.PaginationSelect-button:disabled{
    color: $lightgray;
  }
  &-item{
    list-style: none;
  }
  &-item:not(.is-disabled):hover{
    background: $lightpurple;
    color: white;
  }
}
